@use '../utils/colors';
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.header-container {
    max-width: 100%;
    width: 100vw;
    height: rem(108px);
    margin-bottom: rem(12px);
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - rem(120px)); // height header: 120px
    padding-bottom: rem(48px); // height head movements: 120px
}

.movements-container {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100vw;
    z-index: 1;
    border-top-left-radius: rem(24px);
    border-top-right-radius: rem(24px);
    background-color: colors.$neutral10;

    .head {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(20px);
        width: 100%;
        cursor: pointer;

        &:hover {
            background-color: colors.$neutral20;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        .grip {
            width: 22%;
            max-width: rem(120px);
            height: rem(8px);
            background-color: colors.$neutral40;
            border-radius: rem(4px);
        }
    }

    .body {
        max-height: 75vh;
        width: 100%;
    }
}
