html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    display: block;
    background-color: transparent;
}

p a {
    display: inline;
}

ol,
ul {
    list-style: none;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1rem;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}

table,
tr,
td,
th {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: normal;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}
