// Palette main
$primary-main: #0689b0;
$secondary-main: #04b500;

$movement-blue: #e6f9ff;
$movement-red: #ffe8e6;
$movement-green: #b5efb4;

$positive-currency: #04b500;
$negative-currency: #b50016;

// Variation 50
$variation-shade50: #152f3b;
$variation-tone50: #6a9eb5;
$variation-ink50: #a9ddf4;

// Variation 25
$variation-shade25: #3f8daf;
$variation-tone25: #5fadcf;
$variation-ink25: #7fcdef;

// Neutral
$white: #ffffff;
$neutral10: #f6f8fc; // Background
$neutral20: #f1f4f9;
$neutral30: #e2e8f0;
$neutral40: #cbd4e1; // Borders
$neutral50: #94a3b8;
$neutral60: #64748b; // Light fonts
$neutral70: #475569;
$neutral80: #27364b; // Body fonts
$neutral90: #1e2a3b;
$neutral100: #0f1a2a; // Dark fonts

// Succes
$succes10: #e8fcf1;
$succes20: #a5e1bf;
$succes40: #419e6a; // Main
$succes60: #00632b;
$succes80: #00401c;
$succes100: #002611;

// Info
$info10: #d3e1fe;
$info20: #7ea5f8;
$info40: #4d82f3;
$info60: #2563eb; // Main
$info80: #0037b3;
$info100: #002987;

// Warning
$warn10: #fff5d5;
$warn20: #ffde81;
$warn40: #efb008;
$warn60: #976400; // Main
$warn80: #724b00;
$warn100: #4d2900;

// Error
$error10: #ffebeb;
$error20: #fc9595;
$error40: #d83232;
$error60: #b01212; // Main
$error80: #8c0000;
$error100: #660000;
