@use 'functions' as *;
@use 'colors';

// Font styles in rem
@mixin font-style-size($size) {
    font-size: rem($size);
    line-height: 1.5;
    font-style: normal;
}

// Shadow effects
@mixin drop-shadow($type) {
    @if $type == small {
        box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31);
    } @else if $type == medium {
        box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
    } @else if $type == large {
        box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
    } @else if $type == xlarge {
        box-shadow: 0px 18px 28px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
    }
}

// Dimensiones del scrollbar
%scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: colors.$neutral40;
        border-radius: 4px;
    }
}
